build/
node_modules/
contracts/.flattened
deployments/
typechain/
.openzeppelin/.session
.env
env/*
coverage/*
coverage.json
cache/
yarn.lock
coverage/
coverage.json
typechain
deployments/hardhat
deployments/localhost
